h1, h2 {
  font-size: 100%;
}

nav {
  align-content: center;
  text-align: center;
}

header {
  align-items: left;
  position: fixed;
  text-align: center;
}

/* unvisited link */

a:link {
  color: hotpink;
  text-decoration: none;
}

/* visited link */

a:visited {
  color: black;
  text-decoration: none;
  background-color: hotpink;
}

/* mouse over link */

a:hover {
  color: grey;
  text-decoration: none;
  background-color: white;
}

/* selected link */

a:active {
  color: white;
  text-decoration: none;
}

* {
  : border-box;
}

/* body color and font */

body {
  font-family: avenir;
  font-weight: lighter;
  font-size: 100%;
}

/* responsive with centered text on background color */

h1 {
  padding-top: 50px;
  width: 90%;
  margin: auto;
  padding: 12px;
  font-size: 2em;
  color: black;
  text-align: center;
}

/* img display and border-bottom */

img {
  display: block;
  margin: auto;
  padding: 14px;
  border-bottom: 15px;
}

/* remove border-right on last img */

img:last-child {
  border: none;
}

/* media query for desktop */

@media only screen and (min-width: 768px) {
  /* change h1 color */
  h1 {
    padding-top: 50px;
    color: black;
  }
  /* change img parameters */
  img {
    display: inline;
    padding: 14px;
    border-bottom: 0px;
    padding-bottom: 10%;
  }
  /* center section */
  section {
    text-align: center;
  }
}

article {
  font-weight: lighter;
  font-family: avenir, sans-serif;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  text-style: justify;
  text-justify: inter-word;
  width: 80%;
  padding-bottom: 5%;
}
