/* apk.CSS 4.09 January 2018 by Jan Egil and Borge Refsnes */

html {
  box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit
}

/* don't use reset pls @amber */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block
}

audio, canvas, progress, video {
  display: inline-block
}

progress {
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden], template {
  display: none
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

a:active, a:hover {
  outline-width: 0
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

dfn {
  font-style: italic
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25em
}

sup {
  top: -0.5em
}

figure {
  margin: 1em 40px
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

button, input, select, textarea {
  font: inherit;
  margin: 0
}

optgroup {
  font-weight: bold
}

button, input {
  overflow: visible
}

button, select {
  text-transform: none
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

textarea {
  overflow: auto
}

[type=checkbox], [type=radio] {
  padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

/* End extract */

html, body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5
}

html {
  overflow-x: hidden
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 20px
}

h5 {
  font-size: 18px
}

h6 {
  font-size: 16px
}

.apk-serif {
  font-family: serif
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0
}

.apk-wide {
  letter-spacing: 4px
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0
}

.apk-image {
  max-width: 100%;
  height: auto
}

img {
  vertical-align: middle
}

a {
  color: inherit
}

.apk-table, .apk-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table
}

.apk-table-all {
  border: 1px solid #ccc
}

.apk-bordered tr, .apk-table-all tr {
  border-bottom: 1px solid #ddd
}

.apk-striped tbody tr:nth-child(even) {
  background-color: #f1f1f1
}

.apk-table-all tr:nth-child(odd) {
  background-color: #fff
}

.apk-table-all tr:nth-child(even) {
  background-color: #f1f1f1
}

.apk-hoverable tbody tr:hover, .apk-ul.apk-hoverable li:hover {
  background-color: #ccc
}

.apk-centered tr th, .apk-centered tr td {
  text-align: center
}

.apk-table td, .apk-table th, .apk-table-all td, .apk-table-all th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top
}

.apk-table th:first-child, .apk-table td:first-child, .apk-table-all th:first-child, .apk-table-all td:first-child {
  padding-left: 16px
}

.apk-btn, .apk-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.apk-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.apk-btn, .apk-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.apk-disabled, .apk-btn:disabled, .apk-button:disabled {
  cursor: not-allowed;
  opacity: 0.3
}

.apk-disabled *, :disabled * {
  pointer-events: none
}

.apk-btn.apk-disabled:hover, .apk-btn:disabled:hover {
  box-shadow: none
}

.apk-badge, .apk-tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center
}

.apk-badge {
  border-radius: 50%
}

.apk-ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.apk-ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd
}

.apk-ul li:last-child {
  border-bottom: none
}

.apk-tooltip, .apk-display-container {
  position: relative
}

.apk-tooltip .apk-text {
  display: none
}

.apk-tooltip:hover .apk-text {
  display: inline-block
}

.apk-ripple:active {
  opacity: 0.5
}

.apk-ripple {
  transition: opacity 0s
}

.apk-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%
}

.apk-select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc
}

.apk-dropdown-click, .apk-dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer
}

.apk-dropdown-hover:hover .apk-dropdown-content {
  display: block
}

.apk-dropdown-hover:first-child, .apk-dropdown-click:hover {
  background-color: #ccc;
  color: #000
}

.apk-dropdown-hover:hover>.apk-button:first-child, .apk-dropdown-click:hover>.apk-button:first-child {
  background-color: #ccc;
  color: #000
}

.apk-dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  z-index: 1
}

.apk-check, .apk-radio {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px
}

.apk-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed!important;
  z-index: 1;
  overflow: auto
}

.apk-bar-block .apk-dropdown-hover, .apk-bar-block .apk-dropdown-click {
  width: 100%
}

.apk-bar-block .apk-dropdown-hover .apk-dropdown-content, .apk-bar-block .apk-dropdown-click .apk-dropdown-content {
  min-width: 100%
}

.apk-bar-block .apk-dropdown-hover .apk-button, .apk-bar-block .apk-dropdown-click .apk-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px
}

.apk-main, #main {
  transition: margin-left .4s
}

.apk-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4)
}

.apk-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px
}

.apk-bar {
  width: 100%;
  overflow: hidden
}

.apk-center .apk-bar {
  display: inline-block;
  width: auto
}

.apk-bar .apk-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block
}

.apk-bar .apk-dropdown-hover, .apk-bar .apk-dropdown-click {
  position: static;
  float: left
}

.apk-bar .apk-button {
  white-space: normal
}

.apk-bar-block .apk-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none
}

.apk-bar-block.apk-center .apk-bar-item {
  text-align: center
}

.apk-block {
  display: block;
  width: 100%
}

.apk-responsive {
  display: block;
  overflow-x: auto
}

.apk-container:after, .apk-container:before, .apk-panel:after, .apk-panel:before, .apk-row:after, .apk-row:before, .apk-row-padding:after, .apk-row-padding:before, .apk-cell-row:before, .apk-cell-row:after, .apk-clear:after, .apk-clear:before, .apk-bar:before, .apk-bar:after {
  content: "";
  display: table;
  clear: both
}

.apk-col, .apk-half, .apk-third, .apk-twothird, .apk-threequarter, .apk-quarter {
  float: left;
  width: 100%
}

.apk-col.s1 {
  width: 8.33333%
}

.apk-col.s2 {
  width: 16.66666%
}

.apk-col.s3 {
  width: 24.99999%
}

.apk-col.s4 {
  width: 33.33333%
}

.apk-col.s5 {
  width: 41.66666%
}

.apk-col.s6 {
  width: 49.99999%
}

.apk-col.s7 {
  width: 58.33333%
}

.apk-col.s8 {
  width: 66.66666%
}

.apk-col.s9 {
  width: 74.99999%
}

.apk-col.s10 {
  width: 83.33333%
}

.apk-col.s11 {
  width: 91.66666%
}

.apk-col.s12 {
  width: 99.99999%
}

@media (min-width:601px) {
  .apk-col.m1 {
    width: 8.33333%
  }
  .apk-col.m2 {
    width: 16.66666%
  }
  .apk-col.m3, .apk-quarter {
    width: 24.99999%
  }
  .apk-col.m4, .apk-third {
    width: 33.33333%
  }
  .apk-col.m5 {
    width: 41.66666%
  }
  .apk-col.m6, .apk-half {
    width: 49.99999%
  }
  .apk-col.m7 {
    width: 58.33333%
  }
  .apk-col.m8, .apk-twothird {
    width: 66.66666%
  }
  .apk-col.m9, .apk-threequarter {
    width: 74.99999%
  }
  .apk-col.m10 {
    width: 83.33333%
  }
  .apk-col.m11 {
    width: 91.66666%
  }
  .apk-col.m12 {
    width: 99.99999%
  }
}

@media (min-width:993px) {
  .apk-col.l1 {
    width: 8.33333%
  }
  .apk-col.l2 {
    width: 16.66666%
  }
  .apk-col.l3 {
    width: 24.99999%
  }
  .apk-col.l4 {
    width: 33.33333%
  }
  .apk-col.l5 {
    width: 41.66666%
  }
  .apk-col.l6 {
    width: 49.99999%
  }
  .apk-col.l7 {
    width: 58.33333%
  }
  .apk-col.l8 {
    width: 66.66666%
  }
  .apk-col.l9 {
    width: 74.99999%
  }
  .apk-col.l10 {
    width: 83.33333%
  }
  .apk-col.l11 {
    width: 91.66666%
  }
  .apk-col.l12 {
    width: 99.99999%
  }
}

.apk-content {
  max-width: 980px;
  margin: auto
}

.apk-rest {
  overflow: hidden
}

.apk-cell-row {
  display: table;
  width: 100%
}

.apk-cell {
  display: table-cell
}

.apk-cell-top {
  vertical-align: top
}

.apk-cell-middle {
  vertical-align: middle
}

.apk-cell-bottom {
  vertical-align: bottom
}

.apk-hide {
  display: none!important
}

.apk-show-block, .apk-show {
  display: block!important
}

.apk-show-inline-block {
  display: inline-block!important
}

@media (max-width:600px) {
  .apk-modal-content {
    margin: 0 10px;
    width: auto!important
  }
  .apk-modal {
    padding-top: 30px
  }
  .apk-dropdown-hover.apk-mobile .apk-dropdown-content, .apk-dropdown-click.apk-mobile .apk-dropdown-content {
    position: relative
  }
  .apk-hide-small {
    display: none!important
  }
  .apk-mobile {
    display: block;
    width: 100%!important
  }
  .apk-bar-item.apk-mobile, .apk-dropdown-hover.apk-mobile, .apk-dropdown-click.apk-mobile {
    text-align: center
  }
  .apk-dropdown-hover.apk-mobile, .apk-dropdown-hover.apk-mobile .apk-btn, .apk-dropdown-hover.apk-mobile .apk-button, .apk-dropdown-click.apk-mobile, .apk-dropdown-click.apk-mobile .apk-btn, .apk-dropdown-click.apk-mobile .apk-button {
    width: 100%
  }
}

@media (max-width:768px) {
  .apk-modal-content {
    width: 500px
  }
  .apk-modal {
    padding-top: 50px
  }
}

@media (min-width:993px) {
  .apk-modal-content {
    width: 900px
  }
  .apk-hide-large {
    display: none!important
  }
  .apk-sidebar.apk-collapse {
    display: block!important
  }
}

@media (max-width:992px) and (min-width:601px) {
  .apk-hide-medium {
    display: none!important
  }
}

@media (max-width:992px) {
  .apk-sidebar.apk-collapse {
    display: none
  }
  .apk-main {
    margin-left: 0!important;
    margin-right: 0!important
  }
}

.apk-top, .apk-bottom {
  position: fixed;
  width: 100%;
  z-index: 1
}

.apk-top {
  top: 0
}

.apk-bottom {
  bottom: 0
}

.apk-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2
}

.apk-display-topleft {
  position: absolute;
  left: 0;
  top: 0
}

.apk-display-topright {
  position: absolute;
  right: 0;
  top: 0
}

.apk-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0
}

.apk-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0
}

.apk-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.apk-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%)
}

.apk-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%)
}

.apk-display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.apk-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.apk-display-container:hover .apk-display-hover {
  display: block
}

.apk-display-container:hover span.apk-display-hover {
  display: inline-block
}

.apk-display-hover {
  display: none
}

.apk-display-position {
  position: absolute
}

.apk-circle {
  border-radius: 50%
}

.apk-round-small {
  border-radius: 2px
}

.apk-round, .apk-round-medium {
  border-radius: 4px
}

.apk-round-large {
  border-radius: 8px
}

.apk-round-xlarge {
  border-radius: 16px
}

.apk-round-xxlarge {
  border-radius: 32px
}

.apk-row-padding, .apk-row-padding>.apk-half, .apk-row-padding>.apk-third, .apk-row-padding>.apk-twothird, .apk-row-padding>.apk-threequarter, .apk-row-padding>.apk-quarter, .apk-row-padding>.apk-col {
  padding: 0 8px
}

.apk-container, .apk-panel {
  padding: 0.01em 16px
}

.apk-panel {
  margin-top: 16px;
  margin-bottom: 16px
}

.apk-code, .apk-codespan {
  font-family: Consolas, "courier new";
  font-size: 16px
}

.apk-code {
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  border-left: 4px solid #4CAF50;
  word-wrap: break-word
}

.apk-codespan {
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%
}

.apk-card, .apk-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.apk-card-4, .apk-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.apk-spin {
  animation: apk-spin 2s infinite linear
}

@keyframes apk-spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(359deg)
  }
}

.apk-animate-fading {
  animation: fading 10s infinite
}

@keyframes fading {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.apk-animate-opacity {
  animation: opac 0.8s
}

@keyframes opac {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.apk-animate-top {
  position: relative;
  animation: animatetop 0.4s
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.apk-animate-left {
  position: relative;
  animation: animateleft 0.4s
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}

.apk-animate-right {
  position: relative;
  animation: animateright 0.4s
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0
  }
  to {
    right: 0;
    opacity: 1
  }
}

.apk-animate-bottom {
  position: relative;
  animation: animatebottom 0.4s
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

.apk-animate-zoom {
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.apk-animate-input {
  transition: width 0.4s ease-in-out
}

.apk-animate-input:focus {
  width: 100%!important
}

.apk-opacity, .apk-hover-opacity:hover {
  opacity: 0.60
}

.apk-opacity-off, .apk-hover-opacity-off:hover {
  opacity: 1
}

.apk-opacity-max {
  opacity: 0.25
}

.apk-opacity-min {
  opacity: 0.75
}

.apk-greyscale-max, .apk-grayscale-max, .apk-hover-greyscale:hover, .apk-hover-grayscale:hover {
  filter: grayscale(100%)
}

.apk-greyscale, .apk-grayscale {
  filter: grayscale(75%)
}

.apk-greyscale-min, .apk-grayscale-min {
  filter: grayscale(50%)
}

.apk-sepia {
  filter: sepia(75%)
}

.apk-sepia-max, .apk-hover-sepia:hover {
  filter: sepia(100%)
}

.apk-sepia-min {
  filter: sepia(50%)
}

.apk-tiny {
  font-size: 10px!important
}

.apk-small {
  font-size: 12px!important
}

.apk-medium {
  font-size: 15px!important
}

.apk-large {
  font-size: 18px!important
}

.apk-xlarge {
  font-size: 24px!important
}

.apk-xxlarge {
  font-size: 36px!important
}

.apk-xxxlarge {
  font-size: 48px!important
}

.apk-jumbo {
  font-size: 64px!important
}

.apk-left-align {
  text-align: left!important
}

.apk-right-align {
  text-align: right!important
}

.apk-justify {
  text-align: justify!important
}

.apk-center {
  text-align: center!important
}

.apk-border-0 {
  border: 0!important
}

.apk-border {
  border: 1px solid #ccc!important
}

.apk-border-top {
  border-top: 1px solid #ccc!important
}

.apk-border-bottom {
  border-bottom: 1px solid #ccc!important
}

.apk-border-left {
  border-left: 1px solid #ccc!important
}

.apk-border-right {
  border-right: 1px solid #ccc!important
}

.apk-topbar {
  border-top: 6px solid #ccc!important
}

.apk-bottombar {
  border-bottom: 6px solid #ccc!important
}

.apk-leftbar {
  border-left: 6px solid #ccc!important
}

.apk-rightbar {
  border-right: 6px solid #ccc!important
}

.apk-section, .apk-code {
  margin-top: 16px!important;
  margin-bottom: 16px!important
}

.apk-margin {
  margin: 16px!important
}

.apk-margin-top {
  margin-top: 16px!important
}

.apk-margin-bottom {
  margin-bottom: 16px!important
}

.apk-margin-left {
  margin-left: 16px!important
}

.apk-margin-right {
  margin-right: 16px!important
}

.apk-padding-small {
  padding: 4px 8px!important
}

.apk-padding {
  padding: 8px 16px!important
}

.apk-padding-large {
  padding: 12px 24px!important
}

.apk-padding-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important
}

.apk-padding-24 {
  padding-top: 24px!important;
  padding-bottom: 24px!important
}

.apk-padding-32 {
  padding-top: 32px!important;
  padding-bottom: 32px!important
}

.apk-padding-48 {
  padding-top: 48px!important;
  padding-bottom: 48px!important
}

.apk-padding-64 {
  padding-top: 64px!important;
  padding-bottom: 64px!important
}

.apk-left {
  float: left!important
}

.apk-right {
  float: right!important
}

.apk-button:hover {
  color: #000!important;
  background-color: #ccc!important
}

.apk-transparent, .apk-hover-none:hover {
  background-color: transparent!important
}

.apk-hover-none:hover {
  box-shadow: none!important
}

/* Colors */

.apk-amber, .apk-hover-amber:hover {
  color: #000!important;
  background-color: #ffc107!important
}

.apk-aqua, .apk-hover-aqua:hover {
  color: #000!important;
  background-color: #00ffff!important
}

.apk-blue, .apk-hover-blue:hover {
  color: #fff!important;
  background-color: #2196F3!important
}

.apk-light-blue, .apk-hover-light-blue:hover {
  color: #000!important;
  background-color: #87CEEB!important
}

.apk-brown, .apk-hover-brown:hover {
  color: #fff!important;
  background-color: #795548!important
}

.apk-cyan, .apk-hover-cyan:hover {
  color: #000!important;
  background-color: #00bcd4!important
}

.apk-blue-grey, .apk-hover-blue-grey:hover, .apk-blue-gray, .apk-hover-blue-gray:hover {
  color: #fff!important;
  background-color: #607d8b!important
}

.apk-green, .apk-hover-green:hover {
  color: #fff!important;
  background-color: #4CAF50!important
}

.apk-light-green, .apk-hover-light-green:hover {
  color: #000!important;
  background-color: #8bc34a!important
}

.apk-indigo, .apk-hover-indigo:hover {
  color: #fff!important;
  background-color: #3f51b5!important
}

.apk-khaki, .apk-hover-khaki:hover {
  color: #000!important;
  background-color: #f0e68c!important
}

.apk-lime, .apk-hover-lime:hover {
  color: #000!important;
  background-color: #cddc39!important
}

.apk-orange, .apk-hover-orange:hover {
  color: #000!important;
  background-color: #ff9800!important
}

.apk-deep-orange, .apk-hover-deep-orange:hover {
  color: #fff!important;
  background-color: #ff5722!important
}

.apk-pink, .apk-hover-pink:hover {
  color: #fff!important;
  background-color: #e91e63!important
}

.apk-purple, .apk-hover-purple:hover {
  color: #fff!important;
  background-color: #9c27b0!important
}

.apk-deep-purple, .apk-hover-deep-purple:hover {
  color: #fff!important;
  background-color: #673ab7!important
}

.apk-red, .apk-hover-red:hover {
  color: #fff!important;
  background-color: #f44336!important
}

.apk-sand, .apk-hover-sand:hover {
  color: #000!important;
  background-color: #fdf5e6!important
}

.apk-teal, .apk-hover-teal:hover {
  color: #fff!important;
  background-color: #009688!important
}

.apk-yellow, .apk-hover-yellow:hover {
  color: #000!important;
  background-color: #ffeb3b!important
}

.apk-white, .apk-hover-white:hover {
  color: #000!important;
  background-color: #fff!important
}

.apk-black, .apk-hover-black:hover {
  color: #fff!important;
  background-color: #000!important
}

.apk-grey, .apk-hover-grey:hover, .apk-gray, .apk-hover-gray:hover {
  color: #000!important;
  background-color: #9e9e9e!important
}

.apk-light-grey, .apk-hover-light-grey:hover, .apk-light-gray, .apk-hover-light-gray:hover {
  color: #000!important;
  background-color: #f1f1f1!important
}

.apk-dark-grey, .apk-hover-dark-grey:hover, .apk-dark-gray, .apk-hover-dark-gray:hover {
  color: #fff!important;
  background-color: #616161!important
}

.apk-pale-red, .apk-hover-pale-red:hover {
  color: #000!important;
  background-color: #ffdddd!important
}

.apk-pale-green, .apk-hover-pale-green:hover {
  color: #000!important;
  background-color: #ddffdd!important
}

.apk-pale-yellow, .apk-hover-pale-yellow:hover {
  color: #000!important;
  background-color: #ffffcc!important
}

.apk-pale-blue, .apk-hover-pale-blue:hover {
  color: #000!important;
  background-color: #ddffff!important
}

.apk-text-amber, .apk-hover-text-amber:hover {
  color: #ffc107!important
}

.apk-text-aqua, .apk-hover-text-aqua:hover {
  color: #00ffff!important
}

.apk-text-blue, .apk-hover-text-blue:hover {
  color: #2196F3!important
}

.apk-text-light-blue, .apk-hover-text-light-blue:hover {
  color: #87CEEB!important
}

.apk-text-brown, .apk-hover-text-brown:hover {
  color: #795548!important
}

.apk-text-cyan, .apk-hover-text-cyan:hover {
  color: #00bcd4!important
}

.apk-text-blue-grey, .apk-hover-text-blue-grey:hover, .apk-text-blue-gray, .apk-hover-text-blue-gray:hover {
  color: #607d8b!important
}

.apk-text-green, .apk-hover-text-green:hover {
  color: #4CAF50!important
}

.apk-text-light-green, .apk-hover-text-light-green:hover {
  color: #8bc34a!important
}

.apk-text-indigo, .apk-hover-text-indigo:hover {
  color: #3f51b5!important
}

.apk-text-khaki, .apk-hover-text-khaki:hover {
  color: #b4aa50!important
}

.apk-text-lime, .apk-hover-text-lime:hover {
  color: #cddc39!important
}

.apk-text-orange, .apk-hover-text-orange:hover {
  color: #ff9800!important
}

.apk-text-deep-orange, .apk-hover-text-deep-orange:hover {
  color: #ff5722!important
}

.apk-text-pink, .apk-hover-text-pink:hover {
  color: #e91e63!important
}

.apk-text-purple, .apk-hover-text-purple:hover {
  color: #9c27b0!important
}

.apk-text-deep-purple, .apk-hover-text-deep-purple:hover {
  color: #673ab7!important
}

.apk-text-red, .apk-hover-text-red:hover {
  color: #f44336!important
}

.apk-text-sand, .apk-hover-text-sand:hover {
  color: #fdf5e6!important
}

.apk-text-teal, .apk-hover-text-teal:hover {
  color: #009688!important
}

.apk-text-yellow, .apk-hover-text-yellow:hover {
  color: #d2be0e!important
}

.apk-text-white, .apk-hover-text-white:hover {
  color: #fff!important
}

.apk-text-black, .apk-hover-text-black:hover {
  color: #000!important
}

.apk-text-grey, .apk-hover-text-grey:hover, .apk-text-gray, .apk-hover-text-gray:hover {
  color: #757575!important
}

.apk-text-light-grey, .apk-hover-text-light-grey:hover, .apk-text-light-gray, .apk-hover-text-light-gray:hover {
  color: #f1f1f1!important
}

.apk-text-dark-grey, .apk-hover-text-dark-grey:hover, .apk-text-dark-gray, .apk-hover-text-dark-gray:hover {
  color: #3a3a3a!important
}

.apk-border-amber, .apk-hover-border-amber:hover {
  border-color: #ffc107!important
}

.apk-border-aqua, .apk-hover-border-aqua:hover {
  border-color: #00ffff!important
}

.apk-border-blue, .apk-hover-border-blue:hover {
  border-color: #2196F3!important
}

.apk-border-light-blue, .apk-hover-border-light-blue:hover {
  border-color: #87CEEB!important
}

.apk-border-brown, .apk-hover-border-brown:hover {
  border-color: #795548!important
}

.apk-border-cyan, .apk-hover-border-cyan:hover {
  border-color: #00bcd4!important
}

.apk-border-blue-grey, .apk-hover-border-blue-grey:hover, .apk-border-blue-gray, .apk-hover-border-blue-gray:hover {
  border-color: #607d8b!important
}

.apk-border-green, .apk-hover-border-green:hover {
  border-color: #4CAF50!important
}

.apk-border-light-green, .apk-hover-border-light-green:hover {
  border-color: #8bc34a!important
}

.apk-border-indigo, .apk-hover-border-indigo:hover {
  border-color: #3f51b5!important
}

.apk-border-khaki, .apk-hover-border-khaki:hover {
  border-color: #f0e68c!important
}

.apk-border-lime, .apk-hover-border-lime:hover {
  border-color: #cddc39!important
}

.apk-border-orange, .apk-hover-border-orange:hover {
  border-color: #ff9800!important
}

.apk-border-deep-orange, .apk-hover-border-deep-orange:hover {
  border-color: #ff5722!important
}

.apk-border-pink, .apk-hover-border-pink:hover {
  border-color: #e91e63!important
}

.apk-border-purple, .apk-hover-border-purple:hover {
  border-color: #9c27b0!important
}

.apk-border-deep-purple, .apk-hover-border-deep-purple:hover {
  border-color: #673ab7!important
}

.apk-border-red, .apk-hover-border-red:hover {
  border-color: #f44336!important
}

.apk-border-sand, .apk-hover-border-sand:hover {
  border-color: #fdf5e6!important
}

.apk-border-teal, .apk-hover-border-teal:hover {
  border-color: #009688!important
}

.apk-border-yellow, .apk-hover-border-yellow:hover {
  border-color: #ffeb3b!important
}

.apk-border-white, .apk-hover-border-white:hover {
  border-color: #fff!important
}

.apk-border-black, .apk-hover-border-black:hover {
  border-color: #000!important
}

.apk-border-grey, .apk-hover-border-grey:hover, .apk-border-gray, .apk-hover-border-gray:hover {
  border-color: #9e9e9e!important
}

.apk-border-light-grey, .apk-hover-border-light-grey:hover, .apk-border-light-gray, .apk-hover-border-light-gray:hover {
  border-color: #f1f1f1!important
}

.apk-border-dark-grey, .apk-hover-border-dark-grey:hover, .apk-border-dark-gray, .apk-hover-border-dark-gray:hover {
  border-color: #616161!important
}

.apk-border-pale-red, .apk-hover-border-pale-red:hover {
  border-color: #ffe7e7!important
}

.apk-border-pale-green, .apk-hover-border-pale-green:hover {
  border-color: #e7ffe7!important
}

.apk-border-pale-yellow, .apk-hover-border-pale-yellow:hover {
  border-color: #ffffcc!important
}

.apk-border-pale-blue, .apk-hover-border-pale-blue:hover {
  border-color: #e7ffff!important
}

a:link{
  text-decoration: none;
}
